<div class="content">

	<!---SINGLE PAGE, THIS IS ALL LOADED VIA XMLHTTPREQUEST-->
	<div id="loading" class="loading hidden">
		<div class="lds-dual-ring"></div>
		<p>Loading</p> 
	</div>
	<div id="contentWrap">

		<!--- This search thing is admin thing... Mayby let api be free to use, no authentication, but only show
			 search box to authenticated user.... --->

		<!--<div class="searchBox">
				<div class="wrap">
					<p>Haku</p>
					<div class="inline-wrap">
						<input type="text" name="search" placeholder="hakusana" style=""/>
						<select name="cars" id="cars">
							<option value="volvo">Enviorement</option>
							<option value="saab">Humans</option>
							<option value="mercedes">Decoration</option>
							<option value="audi">Shitfuckpussyassniggas</option>
						</select>
						<button>Hae</button>
					</div>
				</div>
			</div>-->

		<div id="itemHolder" class="boxwrap">

			
			
		</div>
	</div>
</div>