<div class="header">
				
	<div class="header-wrap">

		<p class="page-name" style="width: 100%; text-align: center; color: white; font-size: 1.7vw; margin-top: 45px;">Mikko Mallikas<br>3D artisti</p>

		<div class="line-tp"></div>

		<div class="russian-image-container">
			<img src="img/face.jpg"/>
		</div>


		<!--div class="line2"></div-->

		<div class="links">
			<p class="button" style="animation-delay: 0.3s" onclick="LoadPage('models-page', ['']);">Mallinnukset</p>
			<p class="button" style="animation-delay: 0.5s" onclick="LoadPage('cv-page');">Curriculum vitae</p>
			<p class="button" style="animation-delay: 0.7s" onclick="LoadPage('about-page', ['ukki=homo']);">About</p>
		</div>

		<!--div class="line"></div-->

		<div class="socialMedia">
			<img src="img/fb.png" style="animation-delay: 0.9s" />
			<img src="img/twitter.jpg" style="animation-delay: 1.1s" />
			<img src="img/hub.jpg" style="animation-delay: 1.3s" />
		</div>

	</div>
</div>
