<html>
	
	<head>

	<!--?php
		include 'backend/session.php';
		include 'style.php'; 
	?-->

	<%- include('./css/style.ejs'); %>


	</head>
	<body>
		<div class="wrap">

			<%- include('./header.ejs'); %>
			<%- include('./content.ejs'); %>
			
		</div>


		<!--?php include '3dPlayer.php' ?-->

		<!--script type="text/javascript" src="js/3dPlayer.js"></script>
		<script type="text/javascript" src="js/page-loader.js"></script>
		<script type="text/javascript" src="js/three.js"></script-->
	</body>


	<!--?php

		// USE THIS TO LOAD METADATA OF 3PARTY LIBRARYS AND GIVE CREDITS TO EVERYONE'S WHO'R WORTH OF CREDITS... 
		// ENGLISH SUCKS.. TRANSLATOR IN NEED..PUSSY FUCK NIGGER...
	 ?-->

</html>